<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="estilo/estiloquienesomos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <title>QUIENES SOMOS</title>
  </head>
  <body>
   </head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar navbar-warning" style="background-color: rgb(0, 60, 70)">
      <!--Menu-->
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img class="Logotipo" src="http://assets.stickpng.com/images/59db69d33752880e93e16efc.png" alt="idk">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio</a>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Quiénes somos</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="agendar.html">Agendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Servicios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="Carrusel" src="https://www.latercera.com/resizer/4CX0sa6JHjzb44Xvej43po6GQlU=/800x0/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/7KQ2IEXME5ETZOS4NEFMWMHX44.jpg" class="d-block w-100" alt="Honeymoon ✨">
        <div class="carousel-caption d-none d-md-block">
          <h5>Gabriel Gómez Alvarado</h5>
          <p>Trabajador del local, especialista en electrónica automotriz.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="Carrusel" src="https://cdn.discordapp.com/attachments/534882838181314571/835298376823078912/21122546_1910088515684845_5471748569947866814_o.jpg" class="d-block w-100" alt="RagerLag">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rodrigo Rivas Gonzalez</h5>
          <p>Trabajador del local y experto en cajas de cambio.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="Carrusel" src="https://t1.uc.ltmcdn.com/images/6/8/3/img_como_saber_si_mi_coneja_esta_embarazada_42386_600_square.jpg" class="d-block w-100" alt="maria">
        <div class="carousel-caption d-none d-md-block">
          <h5>Isidora Lara Salas</h5>
          <p>Jefa y dueña del local, la mejor en suspención y dirección.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <main>
    <section>
      <h2 class="Who">¿Quiénes somos?</h2>
      <p class="Whodescrp">Somos un pequeño grupo de amigxs hace poco egresadxs
        de la carrera de Mecánica Automotriz, decidimos abrir un taller mecánico para ayudar y hacer
      gala de nuestras distintas habilidades. Ofrecemos un servicio completo y profesional.
      TALLER MECANICO RAYO MAKEEN!!! </p>
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4 text center">
              <img class="img-fluid" src="https://www.latercera.com/resizer/4CX0sa6JHjzb44Xvej43po6GQlU=/800x0/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/7KQ2IEXME5ETZOS4NEFMWMHX44.jpg">
              <h2 class="Presentacion">Gabriel Gómez Alvarado</h2>
              <p class="Descrp">Integrande del grupo, 19 años, estudiante de Ingeniería Informática en 3°Semestre.</p>
            </div>
            <div class="col-6 col-sm-4 text center">
              <img class="img-fluid" src="https://cdn.discordapp.com/attachments/534882838181314571/835298376823078912/21122546_1910088515684845_5471748569947866814_o.jpg">
              <h2 class="Presentacion">Rodrigo Rivas Gonzalez</h2>
              <p class="Descrp">Integrande del grupo, 24 años, estudiante de Ingeniería Informática en 3°Semestre.</p>
            </div>
            <div class="col-6 col-sm-4 text center">
              <img class="img-fluid" src="https://t1.uc.ltmcdn.com/images/6/8/3/img_como_saber_si_mi_coneja_esta_embarazada_42386_600_square.jpg">
              <h2 class="Presentacion">María Isidora Lara Salas</h2>
              <p class="Descrp">Jefa del grupo, 21 años, estudiante de Ingeniería Informática en 4°Semestre.</p>
            </div>





        </div>
        </div>
    </section>
    
      <ul>
      <h6>Contáctenos:
        <li>+56 9 20104562</li>
        <li><a href="https://Instagram.com"><img class="Logosrs" src="https://i0.wp.com/voxeuropae.com/wp-content/uploads/2019/02/SKq9yH-black-and-white-instagram-logo-png.png?fit=1200%2C1200&ssl=1&w=640" alt="Instagram logo"></a></li>
        <li><a href="https://Facebook.com"><img class="Logosrs" src="https://img.icons8.com/ios/452/facebook-new.png" alt="Facebook logo"></a></li>  
      </h6>
    </ul>
</body>
</html>