<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="estilo/estiloservicios.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar navbar-warning" style="background-color: rgb(0, 60, 70)">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">
               <img class="Logotipo" src="http://assets.stickpng.com/images/59db69d33752880e93e16efc.png" alt="idk"width="50" height="48">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./quienessomos.html">Quienes somos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="./agendar.html"> Agendar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./servicios.html"> Servicios</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


    <h1 style="color: gold;"> <center> Conoce nuestros servicios:
        <figure class="text-center">
            <blockquote class="blockquote">
          <p> TALLER MECANICO DEDICADO AL 100% A TU AUTO</blockquote>
        </blockquote>
      </figure>
    </center>
      </h1>
      <h2>
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <div class="card text-white bg-danger mb-3">
              <img src="https://www.cursodemecanicaautomotriz.com/uploads/1/4/2/7/14271370/curso-de-electronica-automotriz-1_1.jpg" class="card-img-top" alt="" height="300" width="200">
              <div class="card-body">
                <h5 class="card-title">ELECTRONICA AUTOMOTRIZ</h5>
                <p class="card-text">¿Necesitas un chequeo en el sistema de tu auto? Chequea nuestra manera de revisarlo</p>
                <a href="./electronicaauto.html" class="btn btn-primary">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-danger mb-3">
              <img src="https://images1.autocasion.com/unsafe/900x600/actualidad/wp-content/uploads/2012/09/_main_image_111443_5064fc80ad1fb.jpg" class="card-img-top" alt="" height="300" width="200">
              <div class="card-body">
                <h5 class="card-title">CAJAS DE CAMBIO</h5>
                <p class="card-text">Sin querer se echo a perder tu caja de cambio, nosotros la vemos.</p>
                <a href="./cajasdecambio.html" class="btn btn-primary">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-danger mb-3">
              <img src="https://noticias.coches.com/wp-content/uploads/2014/12/Coilovers-suspensi%C3%B3n.jpg" class="card-img-top" alt="" height="300" width="200">
              <div class="card-body">
                <h5 class="card-title">Suspensión</h5>
                <p class="card-text">¿La suspensión de tu auto tiene problemas? Aquí estamos para ti.</p>
                <a href="./suspension.html" class="btn btn-primary">Ver más</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-danger mb-3">
              <img src="https://dercocenter-api.s3.us-east-1.amazonaws.com/medias/dercocenter/migration/news/iStock-1135060668-1.jpg" class="card-img-top" alt="" height="300" width="200">
              <div class="card-body">
                <h5 class="card-title">DIRECCIÓN</h5>
                <p class="card-text">¿Tienes problemas con la direccion de tu auto? Ponle ojo a nuestro servicio.</p>
                <a href="./direccion.html" class="btn btn-primary">Ver más</a>
              </div>
            </div>
          </div>
          <div 1class="col">
            <div class="card text-white bg-danger mb-3">
              <img src="https://www.rutamotor.com/wp-content/uploads/2014/11/Mantenci%C3%B3n-automotriz.jpg" class="card-img-top" alt="" height="300" width="200">
              <div class="card-body">
                <h5 class="card-title">MANTENCIONES</h5>
                <p class="card-text">Contamos con muchas mantenciones realizadas con anterioridad con 100% de confiabilidad.</p>
                <a href="./mantencion.html" class="btn btn-primary">Ver más</a>
              </div>
              </div></div>
              <div 1class="col">
                <div class="card text-white bg-danger mb-3">
                  <img src="https://noticias.coches.com/wp-content/uploads/2016/03/Batmovil-historia.jpg" class="card-img-top" alt="" height="300" width="200">
                  <div class="card-body">
                    <h5 class="card-title">REPUESTOS UTILIZADOS </h5>
                    <p class="card-text">Conoce los repuestos que podemos usar en tu!!!</p>
                    <a href="./vehiculo.html" class="btn btn-primary">Ver más</a>
                  </div>
            </div>
          </div>
        </div>
        </div>
      </h2>
    </center>
      <ul>
        <h6>Contáctenos:
          <li>+56 9 20104562</li>
          <li><a href="https://Instagram.com"><img class="Logosrs" src="https://i0.wp.com/voxeuropae.com/wp-content/uploads/2019/02/SKq9yH-black-and-white-instagram-logo-png.png?fit=1200%2C1200&ssl=1&w=640" alt="Instagram logo"width="50" height="48"></a></li>
          <li><a href="https://Facebook.com"><img class="Logosrs" src="https://img.icons8.com/ios/452/facebook-new.png" alt="Facebook logo"width="50" height="48"></a></li>  
        </h6>
      </ul>
   
</body>
</html>