body{
    background-color: rgb(7, 83, 97);
    font-family:  sans-serif;
}
li {
    list-style: none;
}
h1{
    font-family: fantasy;
    font-size: 60px;
    font-weight: 650;
    text-shadow: 7px 4px 5px rgb(158, 16, 24)
}
.Logotipo{
    width: 125px;
    height:"100"
}
.Logosrs{
    width: 24px;
}